[Unit]
Description=p3scan proxy
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/p3scan/p3scan.pid
ExecStart=/usr/sbin/p3scan -l /var/run/p3scan/p3scan.pid

[Install]
WantedBy=multi-user.target
